<div id="game-details" #gameDetails>
    <p id="title" #title></p>
    <div id="details">
        <!-- <div id="playtime">
            <p #playtime></p>
        </div> -->
        <div id="year">
            <p #year></p>
        </div>
        <div id="genre">
            <p #genre></p>
        </div>
    </div>

    <p id="description" #description></p>

</div>
<div id="carousel-box" #carouselBox>
    <div #carousel class="carousel"></div>
</div>
<div id="trailerButton" #trailerButton (click)="toggleTrailer($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="#ffffff"
            d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9l0-176c0-8.7 4.7-16.7 12.3-20.9z" />
    </svg>
    <p>Ver trailer</p>
</div>
<div id="trailer" #trailer (click)="toggleTrailer($event)" style="visibility: hidden;">
    <video controls preload="auto" width="75%" height="75%">
        <source #trailerSource src="" type="video/webm">
    </video>
</div>